:host {
  display: block;
  padding: 0;
  width: 100%;
}

.input-native {
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #888;
  width: 100%;
  &:active,
  &:focus {
    border: 1px solid var(--jll-ds-input-border-focus, var(--jll-ds-color-stroke-base-active, #60666e));
    outline: rgb(221, 223, 225) solid 3px;
  }
}
